.cookie-dialog {

  a {
    color: inherit;
    @include transition(opacity 0.8s ease);

    @include hover-focus {
      color: inherit;
      text-decoration: none;
      outline: 0;
      opacity: 0.5;
    }

  }

  &__body {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;  
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    font-family: arial, sans-serif;
    font-family: inherit;
    font-size: $font-size-sm;
    line-height: 1.6;
    background-color: #000000;
    color: #ffffff;
    z-index: 9999999999999999;
    visibility: hidden;
    @include transform (translateY(100px));
    @include transition(transform 0.8s ease);

    @media (min-width: $media-min) {
      font-size: $font-size-lg;
      padding: 20px 30px;
    }

  }

  &__header {
    display: block;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 0 15px 0;
    text-align: center;

    @media (min-width: $media-min) {
      flex-grow: 1;
      flex-basis: 0;
      max-width: 100%;
      padding: 0 30px 0 5px;
      text-align: left;
    }

  }

  &__control {
    display: block;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;

    @media (min-width: $media-min) {
      flex: 0 0 auto;
      -webkit-box-flex: 0;
      width: auto;
      max-width: 235px;
      text-align: right;
    }

    @media (min-width: 1200px) {
      max-width: 100%;
    }

  }

  &__allow {
    @include button;
    margin: 5px;
    min-width: 225px;
    color: #fff;
    background: #000000;
    border-color: #838383;
  }

  &__reject {
    @include button;
    margin: 5px;
    min-width: 225px;
    color: #fff;
    background: #000000;
    border-color: #838383;
  }

  &__reset {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    -webkit-appearance: button;
    text-decoration: none;
    outline: none;
    border: 0;
    background: transparent;
    cursor: pointer;
    color: inherit;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
  }

  &--active {

    .cookie-dialog {
    
      &__body {
        visibility: visible;
        @include transform (translateY(0));
      }

    }

  }

}