.cookie-dialog {

  a {
    color: #ffffff;
  }

  &__body {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
  
    &--active {
      display: flex;
    }
  
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: $font-size-sm;
    line-height: 1.7;
    background-color: #000000;
    color: #ffffff;

    @media (min-width: $media-min) {
      font-size: $font-size-lg;
      padding: 20px 30px;
    }

  }

  &__header {
    display: block;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 0 15px 0;
    text-align: center;

    @media (min-width: $media-min) {
      // flex: 0 0 70%;
      // max-width: 70%;
      flex-grow: 1;
      flex-basis: 0;
      max-width: 100%;
      padding: 0 30px 0 5px;
      text-align: left;
    }

  }

  &__control {
    display: block;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;

    @media (min-width: $media-min) {
      // flex: 0 0 30%;
      // max-width: 30%;
      flex: 0 0 auto;
      -webkit-box-flex: 0;
      width: auto;
      max-width: 235px;
      text-align: right;
    }

    @media (min-width: 1200px) {
      max-width: 100%;
    }

  }

  &__allow {
    @include button;
    margin: 5px;
    min-width: 225px;
    color: #fff;
    background: #000000;
    border-color: #838383;

    &:focus {
      background: #838383;
      border-color: #838383;
    }

    &:hover,
    &:active {
      background: #9c9c9c;
      border-color: #9c9c9c;
    }

  }

  &__reject {
    @include button;
    margin: 5px;
    min-width: 225px;
    color: #fff;
    background: #000000;
    border-color: #838383;

    &:focus {
      background: #838383;
      border-color: #838383;
    }

    &:hover,
    &:active {
      background: #9c9c9c;
      border-color: #9c9c9c;
    }

  }

  &__reset {
    @include button;
    display: inline-block;
    position: fixed;
    bottom: 0;
    left: 20px;
    right: 0;
    color: #fff;
    background: #9c9c9c;
    border-color: #9c9c9c;
    border-radius: 3px 3px 0 0;

    @media (min-width: $media-min) {
      left: 30px;
    }

  }

}